[Unit]
Description=Gunicorn for Tennis Court Booking London
After=network.target

[Service]
User=patrik
Group=www-data
WorkingDirectory=/mnt/volume_ams3_01/tcbl/
Environment="PATH=/mnt/volume_ams3_01/tcbl/venv/bin"
ExecStart=/mnt/volume_ams3_01/tcbl/venv/bin/gunicorn -w 1 --bind unix:app.sock -m 007 --chdir /mnt/volume_ams3_01/tcbl/src app:app

[Install]
WantedBy=multi-user.target  