{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Tcbl</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Map</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container">
  <h1>{% block title %}Tennis Court Booking London{% endblock %}</h1>
  <div id="preferences">
  </div>
  
  <table class="table table-striped table-bordered table-hover table-sm table-responsive">
    <thead>
      <tr>
        <th scope="col">Venue Name</th>
        <th scope="col">Date</th>
        <th scope="col">Court Name</th>
        <th scope="col">Time Slot</th>
        <th scope="col"></th>
      </tr>
      <tr>
          <th scope="col"><input class="form-control form-control-sm" type="text" id="tbl-src-vn-nm"></th>
          <th scope="col"><input class="form-control form-control-sm" type="date" id="tbl-src-dt"></th>
          <th scope="col"></th>
          <th scope="col">

            <div class="row">
              <div class="col">
                <select class="form-select form-select-sm" id="tbl-src-strt" name="hour">
                  <option value="">from</option>
                  {% for i in range(7, 24) %}
                  <option value="{{ i }}">{{ i }}:00</option>
                  {% endfor %}
                  </select>
              </div>
              <div class="col">
                <select class="form-select form-select-sm" id="tbl-src-strt-bfr" name="hour">
                  <option value="">to</option>
                  {% for i in range(7, 24) %}
                  <option value="{{ i }}">{{ i }}:00</option>
                  {% endfor %}
                  </select>
              </div>
            </div>
          </th>
          <th scope="col"></th>
      </tr>
        </thead>
        
        
        <tbody id="ven-sess">
        </tbody>
      </table>
</div>
    {% endblock %}
    
    {% block js %}
  <script type="text/javascript" src="{{ url_for('static',filename='js/main.module.js') }}"></script>
  {% endblock %}