{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Venue Sessions{% endblock %}</h1>

{% endblock %}

{% block content %}
<table class="table ">
  <thead>
    <tr>
      <th>Venue Name</th>
      <th>Date</th>
      <th>Court Name</th>
      <th>Booking Description</th>
      <th>Start Time</th>
      <th>End TIme</th>
    </tr>
    <tr>
      <td><input type="text" id="tbl-src-vn-nm"></td>
      <td><input type="date" id="tbl-src-dt"></td>
      <td></td>
      <td></td>
          <td><input type="time" id="tbl-src-strt"></td>
          <td><input type="time" id="tbl-src-end"></td>
        </tr>
      </thead>
      
      
      <tbody id="ven-sess">
      </tbody>
    </table>
    {% endblock %}
    
    {% block js %}
  <script type="text/javascript" src="{{ url_for('static',filename='js/main.module.js') }}"></script>
  {% endblock %}