{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Venue Sessions{% endblock %}</h1>

{% endblock %}

{% block content %}
<table class="table ">
  <thead>
    <tr>
      <th>Venue Name</th>
      <th>Date</th>
      <th>Court Name</th>
      <th>Booking Description</th>
      <th>Start Time</th>
      <th>End TIme</th>
    </tr>
    <tr>
      <td><input class="form-control form-control-sm" type="text" id="tbl-src-vn-nm"></td>
      <td><input class="form-control form-control-sm" type="date" id="tbl-src-dt"></td>
      <td></td>
      <td></td>
          <td><select class="form-select form-select-sm" id="tbl-src-strt" name="hour">
            <option value="">-</option>
            {% for i in range(7, 24) %}
            <option value="{{ i }}">{{ i }}:00</option>
            {% endfor %}
          </select></td>
          <td></td>
        </tr>
      </thead>
      
      
      <tbody id="ven-sess">
      </tbody>
    </table>
    {% endblock %}
    
    {% block js %}
  <script type="text/javascript" src="{{ url_for('static',filename='js/main.module.js') }}"></script>
  {% endblock %}